html{
  background-color: rebeccapurple;
}

img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-top: 140px;
  margin-right: 40%;
  padding-bottom: 15px;
  padding-left: 20px;
  width: 20%;
}

.search{
    width: 490px;    
    display: block;
    margin: auto;
}

input#search-bar{
    margin: 0 150px;
    width: 40%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    border-radius: 100px;
    outline: none;
    
   }

.search-icon{
    float: right;
    width: 75px;
    height: 75px;
    top: -200px;
    right: -12.5%;
}

nav{
   flex:100;
   text-align: right;
}
nav ul li{
  
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
  margin-right: 40px;
}
nav ul li a{
  font-family: $font;
  text-decoration: none;
  color: #fff;;
  margin-top: 0px;
  transition: 0.5s;
}
#prime{
  width: 70px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  border: 0;
  background: linear-gradient(to right,rgb(19, 56, 124),rgb(196, 196, 247)  );
  color:white;
  font-family: $font;
  transition: 0.5s;
}

#prime:hover{
  display: block;
  width: 80px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  border: 0;
  background: linear-gradient(to right,rgb(19, 56, 124),rgb(196, 196, 247)  );
  color:white;
  font-family: $font;
}

nav ul li a:hover{
  font-size: 20px;
  font-family: $font;
  text-decoration: none;
  color: #fff;;
  margin-top: 0px;
}

@media only screen and (max-width:700px){

  nav ul{
    width: 100%;
    text-align: right;
    position: absolute;
    top: 25px;
    right: -150px;
  }
  nav ul li{
    display: block;
    text-align: right;
    font-size: 30px;
    }
}